body {
    background: repeating-linear-gradient(
        -65deg, 
        #EE1C25, 
        #EE1C25 30px, 
        #A61319 30px, 
        #A61319 60px);
    background-size: calc(60px/sin(65deg)) 100%;
    animation: AnimationName 2s linear infinite reverse;
    font-family: 'Segoe UI';
    text-align: justify;
    margin: 0;
}

@keyframes AnimationName {
    0% {
      background-position: calc(60px/sin(65deg)) 0;
    }
  }

header, footer {
    padding: 15px;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #E7F2E4;
}

header {
    padding: 50px 0 0;
}

header h1 {
    font-size: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #B2C6D5;
    font-size: 30px;
}

nav a {
    width: 100%;
    padding: 50px;
    color: black;
    background-color: white;
    background-image: url("../img/casquette.png");
    background-size: 50px;
}

@keyframes background_img_size_increase {
    from {
        background-size: 50px;
    }
    to {
        background-size: 60px;
    }
}

nav a:hover {
    animation: background_img_size_increase 2s linear forwards;
}

a {
    text-decoration: none;
}

section {
    background-color: #E7F2E4;
    border-radius: 10px;
    max-width: 80%;
    margin: 30px auto;
    padding: 25px;
}

